<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="\images\img\slider-3.jpg" class="d-block w-100" alt="...">
        
        <div class="carousel-caption trickcenter">
        <div>
            <h2>FUSCE SCELERISQUE NIBH AC NISL LUCTUS INTERDUM.</h2>
           <p> Nam luctus velit ultricies vestibulum eleifend. Proin imperdiet varius rutrum. Curabitur placerat lacus eu ligula pellentesque euismod? Aliquam volutpat augue id nibh auctor, at varius dui semper? Suspendisse non pellentesque sapien, et sagittis erat. Quisque et dignissim elit. Sed sit amet sapien ac quam vestibulum suscipit ac id diam. Morbi accumsan est vitae tellus vulputate […]
           </p>
           <button type="button" class="bt">Read me</button>
           </div>
        </div>


      </div>
      <div class="carousel-item">
        <img src="\images\img\slider-2.jpg" class="d-block w-100" alt="...">

        <div class="carousel-caption trickcenter">
            <div>
           <h2>FUSCE SCELERISQUE NIBH AC NISL LUCTUS INTERDUM.</h2>
           <p> Nam luctus velit ultricies vestibulum eleifend. Proin imperdiet varius rutrum. Curabitur placerat lacus eu ligula pellentesque euismod? Aliquam volutpat augue id nibh auctor, at varius dui semper? Suspendisse non pellentesque sapien, et sagittis erat. Quisque et dignissim elit. Sed sit amet sapien ac quam vestibulum suscipit ac id diam. Morbi accumsan est vitae tellus vulputate […]
           </p>
           <button type="button" class="bt">Read me</button>
            </div>
            </div>
    

      </div>
      <div class="carousel-item">
        <img src="\images\img\slider-1.jpg" class="d-block w-100" alt="...">

        <div class="carousel-caption trickcenter">
            <div>
           <h2>FUSCE SCELERISQUE NIBH AC NISL LUCTUS INTERDUM.</h2>
           <p> Nam luctus velit ultricies vestibulum eleifend. Proin imperdiet varius rutrum. Curabitur placerat lacus eu ligula pellentesque euismod? Aliquam volutpat augue id nibh auctor, at varius dui semper? Suspendisse non pellentesque sapien, et sagittis erat. Quisque et dignissim elit. Sed sit amet sapien ac quam vestibulum suscipit ac id diam. Morbi accumsan est vitae tellus vulputate […]
           </p>
           <button type="button" class="bt">Read me</button>
            </div>
            </div>
    

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 
