
<div id="form">
  <h2>Edit profile</h2>
  <form action="/profile/{{editUser._id}}/edit" method="POST">


    <label> Username
      <input type="username" name="username" placeholder="username" value="{{editUser.username}}" />
    </label> 
  
    <label> Email
      <input type="email" name="email" placeholder="email"  value="{{editUser.email}}"/>
    </label>
 
    <label> Old Password
      <input type="password" name="password" placeholder="********"/>
    </label>
    <label> New Password
      <input type="password" name="password" placeholder="********"/>
    </label>
 
    <button type="submit">Create account</button>
 
    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>