* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.body {
  
  background-color: #b8e0ef; 
  color: rgba(78, 75, 74, 0.783);
  font-family: 'Merriweather Sans', sans-serif;
}


/* a {
  color: #00b7ff;
} */

h1 {
  color: 15px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );
}

.logoImg {

  height: 60px;
  width: 160px;
  margin-left: 50px;
}

nav {
  margin-bottom: 5px;
}

#intro {
  background-image: url("../images/img/BackgroundAlex.JPG");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.mask {
  height: 100vh;
}

#form{

  width: 40%; 
  margin: 0 auto;
  margin-top: 250px;
}

#form_signup{

  width: 50%; 
  margin: 0 auto;
  margin-top: 250px;
}

#user_profile{

  position: relative;

  left: 40%;
  
}

#review_list{

  position: relative;

  left: 40%;
}

#h1_review-list{

 
  margin: 0 auto;
  margin-top: 50px;

}

.buttonStyle1{

margin-top: 30px; 

/* color: #2ea1da; */
cursor: pointer;
border: 1px solid;
border-color:#a2d3e5 ;
border-radius: 12px;
background-color: transparent;
height: 50px;
width: 180px;
color: rgba(78, 75, 74, 0.783);
font-size: 20px;

box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

background-image: linear-gradient(to right,#94dffa 0%, #b8e0ef 51%, #94dffa 100%);
}


.text-white{
  margin-right: 850px;
  font-family: 'Merriweather Sans', sans-serif;
  

}

.mb-3 {
  
  font-family: 'Merriweather Sans', sans-serif;
}

.mb-4{
  font-family: 'Merriweather Sans', sans-serif;
}

.nav-link {
  font-family: 'Merriweather Sans', sans-serif;
 
  

}

.nav-item{
  font-weight: 600;
  font-size: 17px;
}

.form-group{

  font-family: 'Merriweather Sans', sans-serif;
}


.LogoutBTN{

  margin-left: 680px;
cursor: pointer;
border: 1px solid;
border-color:#a2d3e5 ;
border-radius: 12px;
background-color: transparent;
/* height: 50px;
width: 180px; */
color: rgba(78, 75, 74, 0.783);
font-size: 20px;

box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

background-image: linear-gradient(to right,#94dffa 0%, #b8e0ef 51%, #94dffa 100%);
}

